@font-face {
    font-family: BinggraeB;
    src: url(../font/Binggrae2Bold.ttf);
  }
  
  @font-face {
    font-family: BinggraeL;
    src: url(../font/Binggrae2Light.ttf);
  }

	article {
		width : 90%;
		margin : 0 auto;
		text-align : center;
		opacity : 0;
		margin-top : 40px;
	}
	.box2,.box3,.box4,.box5 {
		display : none;
	}
	article h1 {
		font-size : 4em;
		line-height : 1.3;
		font-style : italic;
		font-family: BinggraeB;
	}
	article h3 {
		font-size : 1.3em;
		line-height : 1.7;
		font-style : italic;
		font-family: BinggraeL;
	}
	article p {
		line-height : 1.8;
		font-family: BinggraeL;
	}
	.bx_box {
		height : 300px;
		margin-top : 30px;
		display : flex;
		justify-content : center;
	}
	.bx_slider img {
		margin : 0 auto;
		width : 40% !important;
	}
	.bx_pager {
		width : 20%;
		margin : 0 auto;
		display : flex;
		justify-content : center;
		opacity : 0;
	}
	.bx_pager input {
		width : 60px;
		padding : 0px;
	}
	.bx_pager div {
		padding : 0px;
		border : 1px solid lightblue;
	}
	.table_box,.table_box1 {
		width : 60%;
		margin : 30px auto;
		padding : 10px;
		opacity : 0;
	}
	.table_box {
		display : none;
	}
	table {
		width : 100%;
		margin : 5px auto;
		border-collapse : collapse;
		border-top : 1px solid #504d4d;
		border-bottom : 1px solid #504d4d;
	}
	table th,td {
		padding : 10px;
		font-family : BinggraeL;
	}
	table .t-tr {
		border-top : 1px solid darkgray;
		border-bottom : 1px solid darkgray;
	}
	.fig1,.fig2 {
		font-size : small;
		color : #827171;
	}
	.fig1 {
		width : 100%;
		text-align : left;
	}
	.fig2 {
		text-align : right;
	}
	colgroup col {
		background-color : lightgray;
	}


@media screen and (max-width : 1600px) {
    section {
        width : 100%;
    }
    article h1 {
        font-size : 3em;
    }
    article h3 {
        font-size : 1.1em;
    }
    article p {
        font-size : 0.8em;
    }
    .bx_box {
	height : 230px;
	}
    .bx_slider img {
        width : 30% !important;
    }
    .bx_pager {
        width : 20%;
		margin-top : 20px;
    }
	.bx_pager input {
    width : 40px;
	}
	.table_box,.table_box1 {
		width : 80%;
		margin : 50px auto;
		padding : 10px;
	}
    table th,td {
        padding : 10px;
        font-size : 0.8em;
    }
    .fig1,.fig2 {
        font-size : 0.5em;
    }
}


@media screen and (max-width : 1200px) {
	section {
        width : 100%;
    }
    article h1 {
        font-size : 3em;
    }
    article h3 {
        font-size : 1.1em;
    }
    article p {
        font-size : 0.8em;
    }
    .bx_box {
	height : 230px;
	}
    .bx_slider img {
        width : 30% !important;
    }
    .bx_pager {
        width : 20%;
		margin-top : 20px;
    }
	.bx_pager input {
    width : 50px;
	}
	.fig1,.fig2 {
        font-size : 0.5em;
    }
	.table_box,.table_box1 {
		width : 75%;
		margin : 30px auto;
		padding : 10px;
	}
	table th,td {
        padding : 10px;
        font-size : 0.9em;
    }
}


@media screen and (max-width : 800px) {
	article {
		width : 90%;
		height : 200px;
		margin : 0 auto;
		text-align : center;
		opacity : 0;
		margin-top : 40px;
	}
	article h1 {
        font-size : 3em;
    }
    article h3 {
        font-size : 1.1em;
    }
    article p {
        font-size : 0.8em;
    }
    .table_box {
	    display : none;
    }
    .table_box,.table_box1 {
		width : 100%;
		margin : 30px auto;
		padding : 25px;
		margin-bottom : 50px;
	}
	table th,td {
        padding : 5px;
        font-size : 0.8em;
    }
}


@media screen and (max-width : 500px) {
	article {
		width : 90%;
		margin : 0 auto;
		text-align : center;
		opacity : 0;
		margin-top : 40px;
	}
	article h1 {
        font-size : 3em;
    }
    article h3 {
        font-size : 1.1em;
    }
    article p {
        font-size : 0.8em;
    }
    .table_box {
	    display : none;
    }
    .table_box,.table_box1 {
		width : 100%;
		margin : 30px auto;
		padding : 20px;
	}
	table th,td {
        padding : 1px;
        font-size : 0.8em;
    }
	.table_box,.table_box1 {
		margin-bottom : 50px;
	}
}


@media screen and (max-width : 360px) {
	article {
		width : 90%;
		margin : 0 auto;
		text-align : center;
		opacity : 0;
		margin-top : 30px;
	}
	article h1 {
        font-size : 2em;
    }
    article h3 {
        font-size : 0.9em;
    }
    article p {
        font-size : 0.7em;
    }
    .table_box {
	    display : none;
    }
    .table_box,.table_box1 {
		width : 95%;
		margin : 30px auto;
		padding : 0px;
	}
	table th,td {
        padding : 1px;
        font-size : 0.8em;
    }
	.table_box,.table_box1 {
		margin-bottom : -50px;
	}
	.bx_box {
		margin-top : -20px;
	}
	.bx_slider img {
        width : 30% !important;
    }
    .bx_pager {
        width : 10%;
		margin-top : -50px;
    }
	.bx_pager input {
		width : 30px;
	}
	footer {
		height : 300px;
	}
}